ion-icon {
      font-size: 16px; //Preferred size here
      position: relative;
      vertical-align:-10%;
  }

  div.justify-content {
     text-align:center;
     position: fixed;
     top: 50%;
     left: 50%;
     width: 67%;
     transform: translate(-50%, -50%);
}
div.inboxText
{
  font-family: 'Open Sans';font-size: 1.25rem;
  margin: auto;
  width: 67%;
}
div.headerBar {
    height: 5px;
    background: #f9b868;
    position: relative;
    top: -1px;
}
body {
  margin: 0 !important;
 padding: 0 !important;
  background-color: white;
  font-family: 'Roboto';
}
img.personalIMG {
  border-radius: 50%;
}
.name {
  font-family: 'Roboto';font-size: 35px;
}
.name_Description {
  font-family: 'Roboto';font-size: 25px;
}
.button {
  font-family: 'Roboto';
  background-color: #A9A9A9; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
