ion-icon {
      font-size: 16px; //Preferred size here
      position: relative;
      vertical-align:-10%;
  }

  div.justify-content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
     text-align:center;
     position: relative;
     left: 50%;
     width: 67%;
     transform: translate(-50%,10%);
}
div.inboxText
{
  font-family: 'Open Sans';font-size: 1.24rem;
  margin: auto;
  width: 67%;
}
div.headerBar {
    height: 5px;
    background: #f9b868;
    position: relative;
    top: -1px;
}
div.Copyright {
    text-align:center;
}
body {
  margin: 0 !important;
 padding: 0 !important;
  background-color: white;
  font-family: 'Roboto';
  display: flex;
    flex-direction: column;
    height: 95vh; /* Avoid the IE 10-11 `min-height` bug. */
}
img.personalIMG {
  border-radius: 50%;
  max-width: 75%;
  height: auto;
}
.name {
  font-family: 'Roboto';font-size: 1.25rem;
}
.name_Description {
  font-family: 'Roboto';font-size: 1.25rem;
}
.button {
  font-family: 'Roboto';
  background-color: #A9A9A9; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
